{% extends 'base.html' %}

{% block title %}Ajouter un nouveau livre{% endblock title %}

{% block content %}
    <form method='post' enctype=multipart/form-data>
        {% csrf_token %}
        <div>
            {{ form.ISBN.label_tag }}
            {{ form.ISBN }}
            {{ form.ISBN.errors }}
        </div>
        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        <div>
            {{ form.book_type.label_tag }}
            {{ form.book_type }}
            {{ form.book_type.errors }}
            {{ form.serie.label_tag }}
            {{ form.serie }}
            {{ form.serie.errors }}
            {{ form.number.label_tag }}
            {{ form.number }}
            {{ form.number.errors }}
        </div>
        <div>
            <span>{{ form.authors.label }} :</span>
            {% for author in book.authors.all %}
                <div>
                    {{ author.name }}
                    <span>x</span>
                <div>
            {% endfor %}
            <div>Ajouter</div>
        </div>
        <div>
            {{ form.publisher.label_tag }}
            {% if book.publisher %}
                {{ book.publisher.name }}
                modifier
            {% else %}
                Ajouter
            {% endif %}
            {{ form.publisher.errors }}
        </div>
        <div>
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div>
            <span>Souhaitez-vous l'ajouter à votre librairie ?</span>
            <div>
                <button name='validation' value='false' type='submit'>Non</button>
                <button name='validation' value='true' type='submit'>Oui</button>
            </div>
        </div>
    </form>
{% endblock content %}