{% extends 'base.html' %}

{% block title %}Ajouter un livre{% endblock title %}

{% block content %}
<form class="form-ISBN" method='post' enctype=multipart/form-data>
    <input class="input-ISBN" id="ISBN" name="isbn" type='text' placeholder="Indiquer l'ISBN">
    {% csrf_token %}
    <button class="btn-ok">Ok</button>
</form>
{% for message in messages %}
<span>{{ message }}</span>
{% endfor %}
<div class="separator-line"></div>
<h2>Séries</h2>
{% if series.count > 0 %}
{% for serie in series %}
<div>
    <a class="btn" href="{% url 'my_library_add_book_serie' serie.id %}">
        <span>{{ serie.name }} ({{serie.total_books}})</span>
    </a>
</div>
{% endfor %}
{% else %}
<span>Tous les livres enregistrés sont déjà dans votre bibliothèque</span>
{% endif %}
{% endblock content %}