{% extends 'base.html' %}

{% block title %}Ma librairie - Série {{ serie.name }}{% endblock title %}

{% block content %}
<div class="title-section">
    {{ serie.name}}
</div>
<div class="container-serie">
    {% for book in serie.books.all %}
        <div class="book-card">
            <a class="btn-del" href="{% url 'my_library_del_book' book.id %}">X</a>
            {% include "my_library/book_template.html" with book=book %}
        </div>
    {% endfor %}
</div>
{% if not serie.is_complete %}
    <div>
        <a class="btn" href="{% url 'my_library_add_book_serie' serie.id %}">Ajouter un livre</a>
    </div>
{% endif %}
{% endblock content %}