:root {
    --color-red: #F78888;
    --color-yel: #F3D250;
    --color-gre: #ECECEC;
    --color-clear-blue: #90CCF4;
    --color-blue: #5DA2D5;
}

button {
    border-style: none;
}

body {
    margin: 0;
    background-color: white;
}

nav {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: auto;
    background-color: var(--color-blue);
    height: 80px;
    box-shadow: 0 0 8px var(--color-clear-blue);
}

.nav-link {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    padding: 0 10px;
}

.username {
    width: 15%;
}

.nav-link:hover {
    background-color: var(--color-clear-blue);
    text-decoration: underline;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

#presentation {
    display: grid;
    grid-template-columns: 1fr;
}

#presentation h2, #presentation p {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    justify-items: center;
}

input, .btn-ok {
    display: inline-flex;
    background-color: var(--color-red);
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    outline: none;
    border-style: none;
    width: 300px;
    text-align: center;
}

input:hover,
input:focus,
.form-new-book-info select:focus,
.form-new-book-info textarea:focus {
    border: 0 solid black;
    background-color: #90CCF4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

input::placeholder {
    color: rgb(55, 55, 55);
    text-align: center;
    font-size: 16px;
}

.container {
    padding-top: 20px;
    width: 100%;
}

.container, #connection {
    display: block;
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container_home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.container_home form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscribe, #connection {
    display: block;
}

#subscribe > p, #connection > p {
    font-size: 24px;
    width: inherit;
}

#connection form {
    display: block;
}

#connection input {
    width: 50%;
}

.errorList, .errors {
    list-style-type: none;
    color: rgb(230, 0, 0);
}

form .errorList {
    display: none;
}

.container fieldset {
    width: 20%;
    min-width: 500px;
    border: black 2px solid;
}

#personal_information {
    display: grid;
    justify-content: center;
}

#personal_information fieldset {
    border-color: var(--color-blue);
}

#personal_information form {
    display: grid;
    align-items: center;
    gap: 16px;
}

#personal_information form label {
    text-align: left;
}

#personal_information form button {
    grid-column: 1 / 3;
    justify-self: center;
}

#manage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.separator-line {
    margin: 20px 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-blue);
}

.container-serie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn, .btn-add, .btn-little {
    display: inline-flex;
    background-color: #F78888;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2em;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    width: 300px;
    height: 42px;
    border: none;
}

.btn:hover,
.btn-add:hover,
.btn-ok:hover,
.btn-little:hover,
.form-new-book-info select:hover,
.form-new-book-info textarea:hover {
    background-color: var(--color-clear-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-add:hover {
    cursor: crosshair;
}

.btn:active, .btn-add:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-add {
    margin-top: 20px;
}

.title-section {
    background: var(--color-yel);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
    margin: auto;
}

.book-card {
    display: grid;
    margin: 20px 0;
    background: var(--color-yel);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 180px;
}

.book-template {
    display: flex;
}

.book-template span {
    margin: auto;
}

.btn-del {
    padding: 0;
    margin: 0;
    justify-self: right;
    color: var(--color-red);
    text-decoration: none;
    transition: color 0.5s ease;
}

.btn-del:hover {
    color: var(--color-blue);
}

.form-ISBN {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-ok {
    width: 100px;
    height: 40px;
}

.add-book {
    display: grid;
    justify-items: center;
    gap: 20px;
}

.add-book * {
    font-weight: unset;
    border-radius: 0;
}

.form-new-book {
    display: grid;
    gap: 10px;
}

.form-new-book-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2px;
    justify-items: center;
    align-items: center;
}

.form-new-book-info * {
    width: 400px;
}

.form-new-book-info label,
.label {
    background-color: var(--color-red);
    width: 100%;
    height: 42px;
    justify-self: end;
    position: relative;
    display: grid;
    align-items: center;
}

.form-new-book-info label::after,
.label::after {
    content: "";
    position: absolute;
    right: 4px;
    bottom: 10px;
    transition: opacity 0.3s ease;
    opacity: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--color-clear-blue);
}

.form-new-book-info label:hover::after,
.label:hover::after {
    opacity: 1;
}

.form-new-book-info select {
    width: 420px;
}

.form-new-book-info textarea,
.form-new-book-info select {
    background-color: #F78888;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 40px;
    max-height: 100px;
    border: none;
}

.btn-little {
    width: fit-content;
    font-size: 1em;
    padding: 0 6px;
}

.add-book h2 {
    font-size: 1.8em;
    background-color: var(--color-yel);
    padding: 10px 20px;
    margin: 15px;
}

.add-book-text {
    font-size: 1.2em;
    background-color: var(--color-yel);
    padding: 10px 20px;
    width: fit-content;
    justify-self: center;
}

.inset-border {
    position: relative;

}

.inset-border::before {
    content: "";
    background-color: var(--color-red);
    position: absolute;
    top: 0px;
    left: -10px;
    width: 420px;
    height: 42px;
    z-index: -1;
}