:root {
    --color-red: #F78888;
    --color-yel: #F3D250;
    --color-gre: #ECECEC;
    --color-clear-blue: #90CCF4;
    --color-blue: #5DA2D5;
}

button {
    border-style: none;
}

body {
    margin: 0;
    background-color: white;
}

nav {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: auto;
    background-color: var(--color-blue);
    height: 80px;
}

.nav-link {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
    padding: 0 10px;
}

.username {
    width: 15%;
}

.nav-link:hover {
    background-color: var(--color-clear-blue);
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

#presentation {
    display: grid;
    grid-template-columns: 1fr;
}

#presentation h2, #presentation p {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    justify-items: center;
}

input, .btn-ok {
    display: inline-flex;
    background-color: var(--color-red);
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    outline: none;
    border-style: none;
    width: 300px;
    text-align: center;
}

input:hover, input:focus {
    border: 0 solid black;
    background-color: #90CCF4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

input::placeholder {
    color: rgb(55, 55, 55);
    text-align: center;
    font-size: 16px;
}

.container {
    padding-top: 40px;
    width: 100%;
}

.container, #connection {
    display: block;
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container_home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.container_home form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscribe, #connection {
    display: block;
}

#subscribe > p, #connection > p {
    font-size: 24px;
    width: inherit;
}

#connection form {
    display: block;
}

.button {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-style: normal;
    background-color: antiquewhite;
    padding: 10px;
    border: 2px black solid;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

#connection input {
    width: 50%;
}

.errorList, .errors {
    list-style-type: none;
    color: rgb(230, 0, 0);
}

form .errorList {
    display: none;
}

.container fieldset {
    width: 20%;
    min-width: 500px;
    border: black 2px solid;
}

#personal_information {
    display: grid;
    justify-content: center;
}

#personal_information form {
    display: grid;
    grid-template-columns: 33% 1fr;
    align-items: center;
}

#personal_information form label {
    text-align: left;
}

#personal_information form button {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 10px;
}

#manage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.separator-line {
    margin-top: 20px;
    width: 100%;
    height: 4px;
    background-color: var(--color-blue);
}

.container-serie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn, .btn-add {
    display: inline-flex;
    background-color: #F78888;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.4em;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 40px;
}

.btn:hover, .btn-add:hover, .btn-ok:hover {
    background-color: #90CCF4;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-add:hover {
    cursor: crosshair;
}

.btn:active, .btn-add:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-add {
    margin-top: 20px;
}

.title-section {
    background: var(--color-yel);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
    margin: auto;
}

.book-card {
    display: grid;
    margin: 20px 0;
    background: var(--color-yel);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 180px;
}

.book-template {
    display: flex;
}

.book-template span {
    margin: auto;
}

.btn-del {
    padding: 0;
    margin: 0;
    justify-self: right;
    color: var(--color-red);
    text-decoration: none;
    transition: color 0.5s ease;
}

.btn-del:hover {
    color: var(--color-blue);
}

.form-ISBN {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-ok {
    width: 100px;
    height: 40px;
}