body {
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: auto;
    background-color: rgb(45, 206, 255);
    height: 80px;
}

nav a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 1s ease;
}

nav a:hover {
    background-color: rgb(0, 195, 255);
    transition: background-color 1s ease;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

nav div a {
    padding: 0 10px;
}

#presentation {
    display: grid;
    grid-template-columns: 1fr;
}

#presentation h2, #presentation p {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    justify-items: center;
}

input {
    padding: 10px 0;
    margin: 10px 0;
    border: 2px solid rgb(55, 55, 55);
    width: 20%;
    min-width: 300px;
    text-align: center;
}

input::placeholder {
    color: rgb(55, 55, 55);
    text-align: center;
    font-size: 16px;
}
.container {
    padding-top: 40px;
    width: 100%;
}

.container, #connection {
    display: block;
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container div {
    text-align: center;
}

.container_home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.container_home form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscribe, #connection {
    display: block;
}

#subscribe > p, #connection > p {
    font-size: 24px;
    width: inherit;
}

#connection form {
    display: block;
}

.container button, #subscribe a {
    text-decoration: none;
    color: rgb(55, 55, 55);
    font-size: medium;
    font-style: normal;
    background-color: white;
    padding: 10px;
    border: 2px rgb(55, 55, 55) solid;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

#connection input {
    width: 50%;
}

.errorList, .errors {
    list-style-type: none;
    color: rgb(230, 0, 0);
}

form .errorList {
    display: none;
}