{% extends 'base.html' %}

{% block title %}Mon compte{% endblock title %}

{% block content %}
<div id='personal_information'>
    <fieldset>
        <legend>Informations personnelles</legend>
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" />
            <label for="mail">Adresse mail :</label>
            <input type="email" id="mail" name="mail" value="{{ user.email }}" />
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" placeholder="Mot de passe" />
            <label for="birthday">Date de naissance :</label>
            <input type="date" id="birthday" name="birthday" value="{{ user.birthday|date:'Y-m-d' }}" />
            <button type='submit'>Mettre à jour</button>
        </form>
    </fieldset>
</div>
{% endblock content %}