{% extends 'base.html' %}

{% block title %}Sélectionner un livre{% endblock title %}

{% block content %}
    {{ serie }}
    <div id="choice_books">
    {% for book in books %}
        <p>
            {{ book }}
            {% if not book.is_owned %}
            <form method='post' enctype=multipart/form-data>
                {% csrf_token %}
                <input type="hidden" name='book' value={{ book.id }}>
                <button type='submit'>Ajouter</button>
            </form>
            {% endif %}
        </p>
    {% endfor %}
    <p><a href="{% url 'add_new_book' %}">Ajouter un livre</a></p>
    </div>
{% endblock content %}