<a class="nav-link" id='home_link' href="{% url 'home' %}">Accueil</a>
<div>
    {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'my_library' %}">{{ user.username|capfirst }}</a>
    {% endif %}
</div>
{% if user.is_authenticated %}
    {% if request.path != '/account/' %}
    <a class="nav-link" href="{% url 'account' %}">Mon compte</a>
    {% else %}
    <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
    {% endif %}
{% else %}
<a class="nav-link" href="{% url 'login' %}">Se connecter</a>
{% endif %}